# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
apache-airflow-providers-amazon
apache-airflow-providers-docker
apache-airflow-providers-postgres
apache-airflow-providers-slack
minio
pandas
clickhouse-connect==0.7.19
dbt-clickhouse>=1.9,<1.11
dbt-core>=1.10,<1.12
astronomer-cosmos==1.13
