# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
apache-airflow-providers-amazon
apache-airflow-providers-docker
apache-airflow-providers-postgres
apache-airflow-providers-slack
minio
pandas
google-cloud-bigquery>=3.11,<4.0
dbt-bigquery>=1.8,<1.11
dbt-core>=1.8,<1.11
astronomer-cosmos==1.13
